html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	margin: 4em 0 0 0; 
}

.timer {
	position: absolute;
	right: 8em;
	top: 7em;
}

.start-screen {
	width: 70vw;
	text-align: center;
	border: 1px solid black; 
	margin-bottom: 0.5em;
}

.question-wrapper {
	width: 70vw;
	text-align: center;
	border: 1px solid black;
	margin-bottom: 0.5em;
	padding: 1em 0 1em 0;
}

.answer-wrapper {
	width: 70vw;
	text-align: center;
	border: 1px solid black; 
	margin-bottom: 0.5em;
	padding: 1em 0 1em 0;
}

.answer-wrapper label {
	display: inline-block;
	width: 50%;
	margin: 0.5em auto;
	padding: 0.5em;
	cursor: pointer;
}

.start-button {
	width: 33vw;
	margin: 1em 0 0 0;
}

.submit {
	width: 33vw;
	margin: 1em 0 0 0;
}

.back {
	width: 33vw;
	float: left;
	margin-right: 4vw;
}

button:hover {
	cursor: pointer;
}